.display-1.text-center.mx-5{
    color: rgb(138, 38, 4);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    font-size: 120px;
    margin: auto;
    text-shadow: 0 0 20px #221f3c;
    border-width: 20px;
    }
    

